h2.home-h2 {
    text-align: center;
}

.home-area {
    min-height:150vh;
    margin: 15px;
    margin-top: -55px;
    margin-bottom: 40px;
    position:sticky;
    border-radius: 20px;
    background-color: #E5E5E5;
}

.home-carousel {
    width: 50%;
    height: 40vh;
}

.home-typing {
    text-align: center;
    font-size: 2em;
    margin-top: 0px;
    padding-top: 20px;
    height: 45px;
    margin-bottom: 0px;
}

.home-servies {
    width: 400px;
    height: 80px;
    background-color: red;
    margin: 10px auto;
}

.carousel-item {
    padding: 40px;
    min-width: 10%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    pointer-events: none;
}

.home-inner-carousel {
    display: flex;
}

.home-carousel {
    cursor: grab;
    overflow: hidden;
    background-color: rgb(230, 173, 173);
}