.menu {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    margin-top: 50px;
    color: white;
}

.menu-area {
    width: 100%;
    min-height: 100vh;
    background-color: #F4A139;
}