.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  background-color: 	#FCBD11;
}