.App {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  align-items: center;

  width: 100%;
  min-height: 100vh;
}

body {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

#root {
  width: 100%;

  background-color: #b1a296;
}
