.cart-container {
  position: relative;

  min-width: 80vw;
  max-width: 90vw;
  min-height: 60vh;
  margin: var(--main-gap) var(--main-gap) 0;
  padding: 2.5rem;
}

.cart-container:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: var(--main-gap);

  background-image: url("../images/backgrounds/cartBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.3;
}

.cart-listing {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--main-gap);

  border-radius: var(--main-gap);
  padding: var(--main-gap);
}

.order-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: var(--main-gap);
  border-radius: var(--main-gap);
  padding: var(--main-gap);

  min-width: 80%;
  max-width: 85vw;

  font-size: 1.2rem;
  text-align: center;

  background-color: #dbcf5c;
}

.order-container.removed {
  animation: fadeOutUp 0.3s ease forwards;
}

.order-item {
  float: left;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;

  width: 90%;
  min-height: 3.5rem;
  border-radius: var(--main-gap);
  margin: 0.5rem;
  padding: 0.5rem 0;

  background-color: #e6e6fa;
}

.order-item.removed {
  animation: fadeOutUp 0.3s ease forwards;
}

.order-item > p {
  margin: 0;
  padding: 0 0.5rem;
}

.order-item-buttons button:not([disabled]):hover {
  cursor: pointer;

  background-color: var(--main-orange-color);
  color: white;
}

.cart-delivery-container {
  margin: 1rem;
}

.delivery-option-selected {
  background-color: var(--main-orange-color);
  color: white;
}

.cart-payment-container > .form-btn:not(:disabled):first-of-type:hover {
  background-color: green;
}

.cart-payment-container > :first-child {
  border-bottom: 1px solid black;
}

.cart-payment-container > .form-btn:last-of-type:hover {
  background-color: red;
}

.order-status {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: var(--main-gap);

  font-size: 1.5rem;
  font-weight: bold;

  background-color: #e6e6fa;
}

@media (max-width: 1600px) {
  .order-item {
    flex-direction: column;
  }

  .order-item > p {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .cart-container {
    width: 90vw;
  }

  .order-container {
    width: 85vw;
  }
}

@media (max-width: 599px) {
  .order-item {
    width: 100%;
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
