.food-container {
  flex-basis: 45%;

  border-radius: var(--main-gap);
  margin: 2rem;
  padding: 0.75rem;

  background-color: #dfd855;

  transition: 0.3s;
}

.food-container.out-of-stock {
  filter: brightness(60%);
}

.food-container:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.food-container > h2 {
  width: 100%;

  text-align: center;
  line-height: 2.5rem;
  font-weight: 600;

  background-color: #e6e6fa;
  color: brown;
}

.form-group.food-overview {
  border-radius: 0.75rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0;

  background-color: #e6e6fa;
}

.food-detail {
  min-width: 15%;
  padding: 0 0.5rem;
  margin: 0;

  font-weight: 600;
  line-height: 2.5rem;
}

.food-detail:first-of-type {
  background-color: var(--main-orange-color);
}

.food-quantity {
  background-color: #bb86fc;

  transition: transform 0.2s;
}

.food-quantity.animate {
  transform: scale(1.2);
}

.food-detail:last-of-type {
  background-color: #ffdbac;
}

.food-container > .form-group > img {
  width: 45%;
  border-radius: 0.75rem;
  padding: 0.1rem;
}

.food-info {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 0.5rem 0.1rem 0 0.5rem;
}

.food-info p {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-weight: 600;

  background-color: #e6e6fa;
}

.food-info .form-btn:hover {
  background-color: var(--main-orange-color);
}

.food-info .form-btn[disabled] {
  background-color: #4a78a8;
}

@media (max-width: 599px) {
  .food-detail {
    font-size: 0.75rem;
  }

  .food-container {
    margin: var(--main-gap) auto;
  }

  .food-container > .form-group:last-of-type {
    flex-direction: column;
  }

  .food-info p {
    font-size: 0.75rem;
  }

  .food-container > .form-group > img {
    width: 65%;
  }
}
