.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 20rem;
  padding: 4rem 0 2.5rem 0;

  background-color: #121619;
  color: #cacdd2;
}

.footer-logo {
  width: 10%;
  margin-bottom: 1.8rem;
}

.footer-socials {
  display: flex;
  justify-content: space-between;

  width: 10%;
  padding: 0;

  list-style: none;
}

.footer-socials a {
  color: #fff;

  text-decoration: none;
}

.footer-socials a i {
  margin-right: 1rem;

  font-size: 1.1rem;

  transition: color 0.4s ease;
}

.footer-contact {
  display: flex;
  justify-content: space-around;

  width: 15%;
}

.footer-contact a {
  color: #fff;

  text-decoration: none;
}

.footer-contact a i {
  font-size: 1.1rem;

  transition: color 0.4s ease;
}

.footer-slogan {
  margin-top: 1.1rem;
  font-family: Pacifico, sans-serif;
  font-size: 1.5rem;

  color: #ff6b21;
}

a:hover i {
  color: #ff6b21;
}
