.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 15.6rem;
  padding: 4rem 0 2.5rem 0;

  background-color: #121619;
  color: #cacdd2;
}

.footer-logo {
  width: 10%;
  margin-bottom: 1.8rem;
}

.footer-socials {
  display: flex;
  justify-content: space-between;

  width: 10%;
  padding: 0;

  list-style: none;
}

.footer-socials a {
  color: #fff;

  text-decoration: none;
}

.footer-socials a i {
  font-size: 1.1rem;

  transition: color 0.4s ease;
}

.footer-socials a:hover i {
  color: #ff6b21;
}
