.carousel-container {
  overflow: hidden;
  width: 27%;
}

.carousel {
  white-space: nowrap;

  transition: 0.7s;
}

.slide {
  display: inline-block;

  width: 100%;
  border-radius: 2.5rem;
}

.carousel-control-panel {
  text-align: center;
}

.carousel-control {
  display: inline-block;

  width: var(--main-gap);
  height: var(--main-gap);
  border-radius: 50%;
  margin: 1rem 0.5rem;

  background-color: #c4c4c4;

  cursor: pointer;
}

.carousel-control.active {
  background-color: #6a0dad;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-container {
    width: 35%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-container {
    width: 40%;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .carousel-container {
    width: 45%;
  }
}

@media (max-width: 599px) {
  .carousel-container {
    width: 55%;
  }
}
