.home-container {
  min-height: 150vh;
  width: calc(100vw - 2.5rem);
  margin: -4.4rem var(--main-gap) 0;
  border-radius: var(--main-gap);

  text-align: center;

  background-image: url("../images/backgrounds/pierogiBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-typewriter {
  height: fit-content;
  padding: var(--main-gap);
  font-size: 2rem;
}

.home-services {
  display: flex;
  align-items: center;
  gap: var(--main-gap);

  min-height: 33vh;

  padding: 0 2rem;
}

.home-service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;

  height: 34vh;
  padding: 2.5rem var(--main-gap);
  border-radius: var(--main-gap);

  background-color: #fff;
  border: 2px solid #e7e7e7;

  transition: 0.3s;
}

.service-icon {
  margin: 1rem 0;

  font-size: 3.45rem;
}

.service1:hover {
  border: 2px solid #42b7ca;
}

.service2:hover {
  border: 2px solid #425fca;
}

.service3:hover {
  border: 2px solid #9c42ca;
}

.home-service:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
}

.home-service h4 {
  font-weight: 600;
  font-size: 1.5rem;

  color: #4a78a8;
}

.home-service p {
  margin: 1rem 0.25rem;

  font-size: 0.9rem;
  line-height: 1.5;
}

.home-carousel-slogan {
  margin: 6.25rem auto;
  padding: 0 0.5rem;
}

.pl-flag {
  height: 2.5rem;
  margin-left: 0.8rem;
}

.home-carousel {
  width: calc(100vw - 3rem);
}

.home-forms-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;

  padding: 4rem 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home-typewriter {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .home-typewriter {
    font-size: var(--main-gap);
  }

  .home-services {
    flex-direction: column;
  }

  .home-service {
    height: fit-content;
    width: 90%;
  }

  .home-service p {
    font-size: 1.1rem;
  }

  .home-forms-section {
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 767px) {
  .home-carousel > div:last-of-type {
    width: 70vw;
    margin: 0 auto;
  }
}

@media (max-width: 599px) {
  .home-typewriter {
    font-size: 1rem;
  }

  .home-carousel > div:last-of-type {
    width: 85vw;
  }

  .home-service {
    width: 100%;
  }
}
