.menu-container {
  width: 80vw;
  min-height: 100vh;
  margin: 1.25rem;
  padding-top: 1.25rem;
  border-radius: 1.25rem;

  background-image: url("../images/pierogi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.food-listing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
