.user-profile-container {
  position: relative;

  min-width: 80vw;
  max-width: 90vw;
  min-height: 80vh;
  padding: var(--main-gap) 2.5rem;
  margin: var(--main-gap) auto 0;

  text-align: center;
}

.user-profile-container:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: var(--main-gap);

  background-image: url("../images/backgrounds/cartBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.3;
}

.user-profile-listing {
  border-radius: var(--main-gap);
  margin: 2.5rem auto;
  padding: var(--main-gap);

  width: 50vw;
  max-width: 100%;

  font-size: 1.5rem;
  word-wrap: break-word;

  background-color: #dbcf5c;
}

@media (max-width: 599px) {
  .user-profile-container {
    width: 90vw;
    padding: 0.5rem;
  }

  .user-profile-listing {
    width: 100%;
    font-size: 1rem;
  }
}
