.weather-widget-input {
  width: 75%;

  font-family: Helvetica, sans-serif;
}

.weather-widget-info-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  width: 80%;
  min-height: 22vh;
  margin-top: 1.25rem;
  border-radius: 1.25rem;

  background-color: #ffdbac;
}

.weather-widget-notice {
  line-height: 22vh;
  margin: 0;
}

.weather-icon {
  width: 5rem;
}
