.weather-widget-input {
  width: 75%;
}

.weather-widget-info-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  width: 90%;
  min-height: 26vh;
  margin: var(--main-gap) 0;
  border-radius: var(--main-gap);

  background-color: #ffdbac;
}

.weather-icon {
  width: 5rem;
}

@media (max-width: 400px) {
  .form-group.search-weather {
    flex-direction: column;
  }
}
